<style>
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
</style>

<div style="width:100%; height:100%;">

	<div style="height:1016px;width:790px;margin:0 auto;border:1px solid #adaeae;margin-bottom:10px">

		<div style="background-color:#e31d1a;height:63px; width:100%;">
			<img src="http://app.traffik.com.au/ca/coles/App_themes/FrontEnd/images/edm_logo.png" style="padding-left:48px; padding-top:9px;">
		</div>

		<img src="http://app.traffik.com.au/ca/coles/App_themes/FrontEnd/images/edm_bg.png" style="height:200px; width:100%;">

		<div style="background-color:#52b5c1; height:45px; width:100%;position:relative;box-sizing:border-box">			
			<p style="width:453px;font-family: 'Roboto Condensed', sans-serif;font-size:20px;color:#fff;padding-left:50px;padding-top:10px;
			text-transform:uppercase;margin:0;letter-spacing:1;">
			Adelaide cbd (0879) </p>
			<p style="position:absolute;height:45px; width:212px;background-color:#bebfc0;font-family: 'Roboto Condensed', sans-serif;font-size:20px;color:#fff;
			margin:0;padding-left:30px;letter-spacing:1;padding-top:9px;left:453px;top:0;box-sizing:border-box">
			PERIOD <span style="padding-left:30px"> 1-FY15 </span>
			</p>
		</div>

		<div style="background-color:#fff;width:100%;height:33px;">
			<div style="width:118px;float:left;margin-left:50px;text-align:center;height:33px;background-color:#000;color:#fff;font-family: 'Roboto Condensed', sans-serif;font-size:20px;
			text-transform:uppercase;padding-top:3px;position:relative">weekday
				<span style="display:block;position:absolute;top:27px;left:50px;border-bottom:17px solid #000; border-left:17px solid transparent;background-color:#000;
				transform:rotate(45deg);transform-style: preserve-3d;-webkit-transform-style: preserve-3d; -webkit-transform: rotate(45deg);"></span>
			</div>
			<div style="width:162px;height:33px;padding-top:3px;font-family: 'Roboto Condensed', sans-serif;font-size:20px;float:left;
			text-transform:uppercase;color:#65646a;text-align:center">weeknight</div>
			<div style="width:87px;height:33px;padding-top:3px;font-family: 'Roboto Condensed', sans-serif;font-size:20px;float:left;
			text-transform:uppercase;color:#65646a;text-align:center">weekend</div>
		</div>

		<div style="background-color:eaedf1;width:100%;padding-top:58px;">
			
			<div style="width:411px;float:left;padding-bottom:50px;">
				<h2 style="margin:0;padding:0;letter-spacing:1;line-height:1;color:#52b5c1;font-family: 'Roboto Condensed', sans-serif;font-size:20px;font-weight:bold;
				text-transform:uppercase;text-align:center;">
					ytd customer engagement
				</h2>
				<img src="http://app.traffik.com.au/ca/coles/App_themes/FrontEnd/images/guage.png" style="display:block;margin:0;padding:0;float:left">
				<div style="margin-left:50px;background-color:#fff;width:330px;height:44px;text-align:center;font-family: 'Roboto Condensed', sans-serif;
				font-size:43px;font-weight:bold;color:#9fd160;padding-top:1px;float:left;margin-bottom:40px;"><p style="margin:0;padding:0;line-height:1">100%</p></div>	
				<div style="width:100%;padding-left:50px;">

					<div style="width:88px;float:left;margin-right:33px;">
						<p style="display:block;text-align:center;color:#52b5c1;font-family: 'Roboto Condensed', sans-serif;margin:0;padding:0;margin-bottom:7px;line-height:1;letter-spacing:1;
					font-size:17px;">Date</p>
						<div style="display:block;text-align:center;color:#52b5c1;font-family: 'Roboto Condensed', sans-serif;margin:0;padding:0;margin-bottom:7px;line-height:1;font-weight:bold;font-size:15px;background-color:#fff;color:#65646a;padding:6px">21/02/2014</div>
					</div>

					<div style="width:88px;float:left;margin-right:33px;">
						<p style="display:block;text-align:center;color:#52b5c1;font-family: 'Roboto Condensed', sans-serif;margin:0;padding:0;margin-bottom:7px;line-height:1;letter-spacing:1;
					font-size:17px;">Day</p>
						<div style="display:block;text-align:center;color:#52b5c1;font-family: 'Roboto Condensed', sans-serif;margin:0;padding:0;margin-bottom:7px;line-height:1;font-weight:bold;font-size:15px;background-color:#fff;color:#65646a;padding:6px">Sunday</div>
					</div>

					<div style="width:88px;float:left">
						<p style="display:block;text-align:center;color:#52b5c1;font-family: 'Roboto Condensed', sans-serif;margin:0;padding:0;margin-bottom:7px;line-height:1;letter-spacing:1;
					font-size:17px;">Time</p>
						<div style="display:block;text-align:center;color:#52b5c1;font-family: 'Roboto Condensed', sans-serif;margin:0;padding:0;margin-bottom:7px;line-height:1;font-weight:bold;font-size:15px;background-color:#fff;color:#65646a;padding:6px">Morning</div>
					</div>
					<div style="clear:both"></div>
				</div>
			</div><!-- End of the right side Guage Component-->

			<div style="width:379px;float:left;padding-bottom:50px">
				<div style="width:330px;height:142px;margin-bottom:10px;">
					<div style="width:100%; height:24px; background-color:#52b5c1;color:#fff;font-family: 'Roboto Condensed', sans-serif;font-size:20px;font-weight:300;
					letter-spacing:1;text-align:center;padding:18px 0;line-height:1;text-transform:uppercase;border-top-right-radius:5px;border-top-left-radius:5px">Customer experience rating * </div>
					<div style="height:82px;background-color:#fff;width:100%;">
						<div style="padding-left:20px;padding-top:20px;">
							<span style="font-size:12px;color:#65646a;font-family: 'Roboto Condensed', sans-serif;margin-right:45px">0</span>
							<span style="font-size:12px;color:#65646a;font-family: 'Roboto Condensed', sans-serif;margin-right:45px">1</span>
							<span style="font-size:12px;color:#65646a;font-family: 'Roboto Condensed', sans-serif;margin-right:45px">2</span>
							<span style="font-size:12px;color:#65646a;font-family: 'Roboto Condensed', sans-serif;margin-right:45px">3</span>
							<span style="font-size:12px;color:#65646a;font-family: 'Roboto Condensed', sans-serif;margin-right:45px">4</span>
							<span style="font-size:12px;color:#65646a;font-family: 'Roboto Condensed', sans-serif">5</span>
						</div>
						<div style="margin-left:20px;margin-top:15px;position:relative;width:280px;height:5px;background-color:#d6d9dd">
							<span style="top:0;left:0;position:absolute;background-color:#65646a;width:40%;height:5px;"></span>
							<span style="top:-9px;left:37%;height:20px;width:22px;border-radius:50%;background-color:#65646a;position:absolute;color:#fff;
							font-family: 'Roboto Condensed', sans-serif;font-size:12px;text-align:center;padding-top:2px">2</span>
						</div>
					</div>
				</div>


				<div style="width:330px;">
					<div style="width:100%; height:24px; background-color:#52b5c1;color:#fff;font-family: 'Roboto Condensed', sans-serif;font-size:20px;font-weight:300;
					letter-spacing:1;text-align:center;padding:18px 0;line-height:1;text-transform:uppercase;border-top-right-radius:5px;border-top-left-radius:5px">Comment * </div>
					<div style="min-height:82px;background-color:#fff;padding:20px;font-size:12px;color:#65646a;font-family: 'Roboto Condensed', sans-serif;">
						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis abibendum auctor, nisi elit consequat iptsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit 
					</div>
				</div>

				<div style="width:330px;font-family: 'Roboto Condensed', sans-serif;font-size:11px;text-align:right;padding-top:10px;letter-spacing:0.3;color:#65646a">
					*This is of the customers the personal opinion
				</div>
			</div><!-- End of Comment and Rating -->

			<div style="clear:both"></div>

		</div> <!-- End of Information-->
			

		<div style="padding:25px 50px;background-color:#fff;font-family: 'Roboto Condensed', sans-serif;font-size:20px;color:#737277;letter-spacing:0.8">
			<span style="color:52b5c1;font-style:italic;font-weight:bold">Congratulations</span> on achieving 100% in your Customer Engagement visit. Share this <span style="color:52b5c1;font-style:italic;font-weight:bold">fantastic result</span> with your team at your next huddle to reinforce our commitment to providing the 
			<span style="color:52b5c1;font-style:italic;font-weight:bold">best customer experience.</span>
		</div>

		<div style="clear:both"></div>

	</div> <!-- End of EDM-->
</div>
