/* LESS Document */
.clear {
  display: block;
  clear: both;
}
/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
::selection {
  color: #ffffff;
  background: #3e80c2;
}
::-moz-selection {
  color: #ffffff;
  background: #3e80c2;
}
#content {
  height: 100%;
}
img {
  max-width: 100%;
}
/* Fonts */
@font-face {
  font-family: 'robot-reg';
  src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'robot-light-italic';
  src: url('fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'robot-light';
  src: url('fonts/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'robot-italic';
  src: url('fonts/RobotoCondensed-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'robot-bold-italic';
  src: url('fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'robot-bold';
  src: url('fonts/RobotoCondensed-Bold.ttf') format('truetype');
}
.body-bg {
  background: url(images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body-bg .loading-content {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
.body-bg.loading .loading-content {
  display: table;
  margin: 0 auto;
}
.css-loader-1 {
  width: 90px;
  height: 90px;
  padding-left: 50%;
  display: table-cell;
  vertical-align: middle;
}
.css-loader-1 > div {
  width: 90px;
  height: 90px;
  position: relative;
  animation: rotate 1s linear;
  animation-iteration-count: infinite;
  -webkit-animation: rotate 1s linear;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.css-loader-1 div > div {
  width: 18px;
  height: 18px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  position: absolute;
}
.css-loader-1 div > div:nth-child(1) {
  top: 0;
  left: 50%;
  margin-left: -8px;
  opacity: 0.1;
}
.css-loader-1 div > div:nth-child(2) {
  top: 22%;
  left: 78%;
  margin: -8px 0 0 -8px;
  opacity: 0.3;
}
.css-loader-1 div > div:nth-child(3) {
  top: 50%;
  right: 0;
  margin-top: -8px;
  opacity: 0.5;
}
.css-loader-1 div > div:nth-child(4) {
  top: 78%;
  left: 78%;
  margin: -8px 0 0 -8px;
  opacity: 0.6;
}
.css-loader-1 div > div:nth-child(5) {
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -8px;
  opacity: 0.7;
}
.css-loader-1 div > div:nth-child(6) {
  top: 78%;
  left: 22%;
  margin: -8px 0 0 -8px;
  opacity: 0.8;
}
.css-loader-1 div > div:nth-child(7) {
  top: 50%;
  left: 0;
  margin: -8px 0 0;
  opacity: 0.9;
}
.css-loader-1 div > div:nth-child(8) {
  top: 22%;
  left: 22%;
  margin: -8px 0 0 -8px;
  opacity: 1;
}
.coles {
  width: 961px;
  margin: 0 auto;
}
@media (max-width: 972px) {
  .coles {
    width: 100%;
  }
}
@media (max-width: 762px) {
  .coles {
    width: 100%;
  }
}
.coles .top-padding {
  padding-top: 35px !important;
}
.coles .no-padding {
  padding: 0 !important;
}
.coles .base-padding {
  padding-bottom: 40px !important;
}
.coles .coles-body {
  background-color: #65646a;
}
.coles .header {
  height: 46px;
  background-color: #e31d1a;
}
.coles .header .logo {
  padding-top: 9px;
  height: 100%;
}
.coles .header .user-text {
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: right;
  font-size: 14px;
  height: 100%;
  color: #ffffff;
  letter-spacing: 1;
  text-transform: uppercase;
  padding-top: 15px;
  line-height: 1;
  background-color: #e31d1a;
}
.coles .header .user-info {
  background-color: #881110;
  height: 100%;
  padding: 0;
}
.coles .header .user-info .user-icon {
  height: 46px;
  background-image: url(images/icons/user-icon.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-color: #aa1613;
}
.coles .header .user-info .logout {
  height: 48px;
  margin: 0 auto;
  font-size: 12px;
  color: #ffffff;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 1;
  line-height: 1;
  text-transform: uppercase;
  padding: 16px 0 0 30px;
  background-image: url(images/icons/logout-icon.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 20% 45%;
  text-decoration: none;
}
.coles .menu {
  background-color: #65646a;
  padding: 0;
}
.coles .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.coles .menu ul li a {
  height: 65px;
  padding: 0;
  margin: 0;
  padding: 25px 0 0 47px;
  text-transform: uppercase;
  font-family: 'robot-light', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
  border-bottom: 1px inset #7f7e82;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-position: 14px 25px;
}
.coles .menu ul li a.dashboard {
  background-image: url(images/icons/dashboard.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .menu ul li a.reports {
  background-image: url(images/icons/reports.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .menu ul li a.queries {
  background-image: url(images/icons/queries.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .menu ul li a.resources {
  background-image: url(images/icons/resources.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .menu ul li a.leaderboard {
  background-image: url(images/icons/leaderboard.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .menu ul li a.access-admin {
  background-image: url(images/icons/access-admin.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .menu ul li a:hover {
  background-color: #bdbec0;
  border-bottom: none;
}
.coles .menu ul li a.active {
  background-color: #bdbec0;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  border-bottom: none;
}
.coles .menu .news-feed {
  margin-top: 132px;
  padding: 0;
}
.coles .menu .news-feed h2 {
  height: 33px;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #e31d1a;
  color: #ffffff;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1;
  line-height: 1;
  position: relative;
  padding-top: 8px;
}
.coles .menu .news-feed h2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  width: 33px;
  background-color: #b61715;
}
.coles .menu .news-feed h2:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 8px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-right: 3px solid #e31d1a;
  border-bottom: 3px solid #e31d1a;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.coles .menu .news-feed .feed {
  padding: 10px;
  background-color: #bdbec0;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.coles .menu .news-feed .feed h3 {
  margin: 0;
  padding: 0;
  color: #e31d1a;
  font-size: 18px;
}
.coles .menu .news-feed .feed p {
  margin: 0;
  padding: 2px 0;
  color: #000000;
  margin-bottom: 8px;
}
.coles .menu .news-feed .feed .date {
  color: #65646a;
  float: right;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 11px;
}
.coles .menu .news-feed .feed:last-child {
  border-bottom: 2px solid #e31d1a;
}
.coles .dashboard {
  background-color: #ffffff;
  padding: 0;
}
.coles .dashboard .banner {
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-color: transparent;
  height: 131px;
  background-position: 50% 50%;
  background-size: cover;
  padding: 2px 0 0 20px;
}
.coles .dashboard .banner h1 {
  margin: 0;
  padding: 0;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 58px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}
.coles .dashboard .main-menu {
  height: 46px;
  background-color: #000000;
  padding: 0;
}
.coles .dashboard .main-menu ul {
  list-style: none;
  padding: 0;
}
.coles .dashboard .main-menu ul li a {
  text-align: center;
  font-size: 20px;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #808080;
  height: 46px;
  text-decoration: none;
  margin: 0;
  line-height: 1;
  padding-top: 11px;
  text-transform: uppercase;
}
.coles .dashboard .main-menu ul li a:hover {
  color: #ffffff;
}
.coles .dashboard .main-menu ul li a.active {
  color: #ffffff;
  border-bottom: 6px solid #e31d1a;
}
.coles .dashboard .filters {
  min-height: 62px;
  background-color: #ffffff;
  padding: 20px 20px;
}
.coles .dashboard .filters .filter-btn {
  width: 75px;
  height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 30px 0 0;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #65646a;
}
.coles .dashboard .filters .red-color {
  color: #e31d1a;
}
.coles .dashboard .filters .a-btn {
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #e31d1a;
  display: inline-block;
}
.coles .dashboard .chart {
  padding: 0;
  text-align: center;
}
.coles .dashboard .chart.inner {
  margin-top: 38px;
}
.coles .dashboard .chart.inner .header {
  height: 40px;
  padding-top: 10px;
}
.coles .dashboard .chart.inner .content {
  padding: 25px;
  min-height: 200px;
}
.coles .dashboard .chart.inner .content .circle-chart {
  min-height: 200px;
}
.coles .dashboard .chart.inner .content .circle-chart h3 {
  height: 40px;
  padding-top: 7px;
}
.coles .dashboard .chart.inner .content .circle-chart .cchart {
  margin-bottom: 10px;
  margin-top: 60px;
}
.coles .dashboard .chart .protractor-chart {
  width: 40%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.coles .dashboard .chart .protractor-chart.n-dail {
  width: auto;
}
.coles .dashboard .chart .protractor-chart.n-dail .guage-container {
  max-width: auto;
}
.coles .dashboard .chart .protractor-chart .guage-container {
  max-width: 317px;
  margin: 0 auto;
}
.coles .dashboard .chart .protractor-chart .guage-container h2 {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #52b5c1;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}
.coles .dashboard .chart .protractor-chart .guage-container .reading-circle {
  height: 100px;
  width: 200px;
  border-radius: 200px 200px 0 0;
  -moz-border-radius: 200px 200px 0 0;
  -webkit-border-radius: 200px 200px 0 0;
  background: #dadada;
  position: relative;
}
.coles .dashboard .chart .protractor-chart .guage-container .reading-circle:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  height: 80px;
  width: 160px;
  border-radius: 160px 160px 0 0;
  -moz-border-radius: 160px 160px 0 0;
  -webkit-border-radius: 160px 160px 0 0;
  background: #eaedf1;
}
.coles .dashboard .chart .protractor-chart .guage-container .result {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  margin-top: 13px;
}
.coles .dashboard .chart .protractor-chart .guage-container .result p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 33px;
  color: #ff9600;
  padding-top: 5px;
  line-height: 1;
}
.coles .dashboard .chart .protractor-chart .guage-container .view_result {
  width: 100%;
  height: 40px;
  background-color: #a8dae0;
  margin-top: 13px;
  cursor: pointer;
}
.coles .dashboard .chart .protractor-chart .guage-container .view_result p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #65646a;
  padding-top: 9px;
  line-height: 1;
}
.coles .dashboard .chart .protractor-chart .monthlytab {
  width: 100%;
  margin-top: 24px;
}
.coles .dashboard .chart .protractor-chart .monthlytab .dth {
  text-align: center;
  color: #52b5c1;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 14px;
  padding-bottom: 7px;
  width: 30.333333%;
  text-transform: uppercase;
  float: left;
  margin-right: 3%;
}
.coles .dashboard .chart .protractor-chart .monthlytab .dth:last-child {
  width: 33.33333%;
  margin-right: 0;
}
.coles .dashboard .chart .protractor-chart .monthlytab .dth-value {
  text-align: center;
  color: #52b5c1;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 13px;
  background-color: #ffffff;
  color: #65646a;
  padding: 6px;
  width: 100%;
  text-transform: uppercase;
  margin-top: 10px;
}
.coles .dashboard .chart .scorecard-widget {
  float: left;
  width: 60%;
  padding: 15px;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.coles .dashboard .chart .scorecard-widget div.score-container {
  width: 372px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .coles .dashboard .chart .scorecard-widget {
    width: 100%;
  }
  .coles .dashboard .chart .protractor-chart {
    width: 100%;
  }
}
.coles .dashboard .chart .white-header {
  height: 40px;
  background-color: #9ed1d9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 9px;
}
.coles .dashboard .chart .white-header h3 {
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 1;
  letter-spacing: 1;
  margin: 0;
  padding: 0;
}
.coles .dashboard .chart .black-header {
  height: 28px;
  background-color: #cbe9ec;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 20px;
}
.coles .dashboard .chart .black-header h3 {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #64636a;
  line-height: 1;
  letter-spacing: 1;
  margin: 0;
  padding: 0;
  text-align: left;
}
.coles .dashboard .chart .header {
  height: 56px;
  background-color: #52b5c1;
  text-align: center;
  padding: 0;
  padding: 18px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.coles .dashboard .chart .header h2 {
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 1;
  letter-spacing: 1;
  text-transform: uppercase;
}
.coles .dashboard .chart .header .export-btn {
  position: absolute;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e31d1a;
  padding: 3px;
  right: 0;
  top: 0;
  height: 22px;
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.coles .dashboard .chart .header p {
  font-family: 'robot-light-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
}
.coles .dashboard .chart .header.sub-title {
  padding: 10px 0;
}
.coles .dashboard .chart .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  min-height: 275px;
}
.coles .dashboard .chart .content.no-minheight {
  min-height: 0;
}
.coles .dashboard .chart .ytd-chart {
  min-height: 280px;
  padding: 0;
}
.coles .dashboard .chart .score-board {
  width: 114px;
  height: 190px;
  float: left;
  margin-right: 10px;
}
.coles .dashboard .chart .score-board:last-child {
  margin-right: 0;
}
.coles .dashboard .chart .score-board h3 {
  margin: 0;
  padding: 0;
  height: 40px;
  text-align: center;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #52b5c1;
  padding-top: 15px;
  letter-spacing: 1.3;
}
.coles .dashboard .chart .score-board .board {
  background-color: #ffffff;
  padding: 12px 8px;
}
.coles .dashboard .chart .score-board .board .score {
  text-align: center;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #65646a;
  font-size: 38px;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #bae1e6;
}
.coles .dashboard .chart .score-board .board .score span {
  font-size: 20px;
}
.coles .dashboard .chart .score-board .board p {
  text-align: center;
  margin: 0;
  padding: 12px 15px;
  font-family: 'robot-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #a9a9a9;
  line-height: 1.2;
  padding-bottom: 0;
  font-size: 12px;
}
.coles .dashboard .chart .grey {
  background-color: #eaedf1;
}
.coles .dashboard .chart .grey .cchart {
  background-color: #eaedf1;
}
.coles .dashboard .chart .grey .cchart.more-half .fill {
  background: #eaedf1;
}
.coles .dashboard .chart .grey .cchart .progress {
  background-color: #eaedf1;
}
.coles .dashboard .chart .grey .cchart .percents {
  background-color: #eaedf1;
}
.coles .dashboard .chart .white {
  background-color: #ffffff;
}
.coles .dashboard .chart .white .cchart {
  background-color: #ffffff;
}
.coles .dashboard .chart .white .cchart.more-half .fill {
  background: #ffffff;
}
.coles .dashboard .chart .white .cchart .progress {
  background-color: #ffffff;
}
.coles .dashboard .chart .white .cchart .percents {
  background-color: #ffffff;
}
.coles .dashboard .chart .content {
  padding: 25px;
}
.coles .dashboard .chart .content .question-details {
  padding-bottom: 50px;
}
.coles .dashboard .chart .content .question-details .tb-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid #52b5c1;
}
.coles .dashboard .chart .content .question-details .tb-heading div {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #52b5c1;
  text-transform: uppercase;
  text-align: center;
}
.coles .dashboard .chart .content .question-details .tb-heading div:first-child {
  text-align: left;
}
.coles .dashboard .chart .content .question-details .tb-value {
  padding-top: 8px;
}
.coles .dashboard .chart .content .question-details .tb-value div {
  font-family: 'robot-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #65646a;
  line-height: 1;
  text-align: center;
}
.coles .dashboard .chart .content .question-details .tb-value div:first-child {
  text-align: left;
}
.coles .dashboard .chart .content .circle-chart {
  min-height: 275px;
  padding: 0;
  position: relative;
  border-right: 1px solid #fff;
}
.coles .dashboard .chart .content .circle-chart h3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a8dae0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #65646a;
  padding-top: 6px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1;
  line-height: 1;
  height: 26px;
  width: 101%;
}
.coles .dashboard .chart .content .circle-chart h3.show-border {
  width: 100%;
}
.coles .dashboard .chart .content .circle-chart .cchart {
  margin: 80px auto;
}
.coles .dashboard .chart .content .circle-chart:last-child {
  border-right: none;
}
.coles .dashboard .chart .content .circle-chart:last-child(2) h3 {
  width: 100%;
}
@media (max-width: 960px) {
  .coles .dashboard .chart .content {
    padding: 8px;
  }
}
.coles .dashboard .panel-design {
  padding-bottom: 75px !important;
}
.coles .dashboard .panel-design .expand-btn {
  padding: 5px;
  text-transform: uppercase;
  background-color: #9a9aa0;
  color: #ffffff;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  max-width: 140px;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.coles .dashboard .panel-design .expand-btn:after {
  content: "";
  top: 8px;
  right: 15px;
  width: 10px;
  height: 10px;
  position: absolute;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.coles .dashboard .panel-design .acc-table-head {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}
.coles .dashboard .panel-design .acc-table-head h4 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #64636a;
  text-transform: uppercase;
}
.coles .dashboard .panel-design #accordion .panel-heading {
  background-color: #a8dae0;
  max-height: 45px;
  background-image: none;
}
.coles .dashboard .panel-design #accordion .panel-heading h4 {
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  color: #64636a;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}
.coles .dashboard .panel-design #accordion .panel-heading h4.strong {
  font-weight: bold;
}
.coles .dashboard .panel-design #accordion .panel-heading h4.arrow {
  position: relative;
  font-size: 15px;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.coles .dashboard .panel-design #accordion .panel-heading h4.arrow:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 11px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #64636a;
  border-right: 7px solid transparent;
}
.coles .dashboard .panel-design #accordion .panel-heading h4.pval {
  padding-top: 10px;
}
.coles .dashboard .panel-design #accordion .panel-heading h4.pval div.true {
  display: inline-block;
  height: 14px;
  width: 13px;
  margin-right: 2px;
  background-image: url(images/tick.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .dashboard .panel-design #accordion .panel-heading h4.pval div.false {
  display: inline-block;
  height: 14px;
  width: 13px;
  margin-right: 2px;
  background-image: url(images/cross.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.coles .dashboard .panel-design #accordion .panel-heading .opened .arrow:before {
  top: 15px;
  border-top: 7px solid #64636a;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.coles .dashboard .panel-design .panel-default {
  background-color: transparent;
}
.coles .dashboard .panel-design .panel-default .panel-collapse {
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
@media (max-width: 768px) {
  .coles .dashboard .banner {
    padding-top: 22px;
  }
  .coles .dashboard .banner h1 {
    font-size: 45px;
  }
}
.coles-acc .acc-header {
  background-image: none;
  background-color: #a8dae0;
}
.no-opportunity {
  padding-top: 20px;
}
.no-opportunity h2 {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  color: #52b5c1;
}
.no-opportunity p {
  text-align: center;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #64636a;
  padding: 0;
  margin: 0;
  padding-bottom: 10;
}
.resource {
  min-height: 200px !important;
  display: inline-block;
  width: auto;
}
.resource a {
  min-height: 150px;
  display: block;
}
.resource .icons {
  width: 130px;
  float: left;
}
.resource .archive {
  background-image: url(images/resources/archive.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
}
.resource .general {
  background-image: url(images/resources/general.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
}
.resource .reporting {
  background-image: url(images/resources/reporting.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
}
.resource .scenarios {
  background-image: url(images/resources/scenarios.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
}
.resource .score-summary {
  background-image: url(images/resources/score_summary.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: contain;
}
.report-btns-wrapper {
  padding: 27px 39px 10px !important;
}
.report-btns-wrapper .report-btn {
  color: #65646a;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  width: 314px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  line-height: 1;
  display: block;
  margin-right: 13px;
  margin-bottom: 13px;
  background-color: #eaedf1;
  height: 52px;
  float: left;
}
.report-btns-wrapper .report-btn:nth-child(even) {
  margin-right: 0;
}
@media (max-width: 960px) {
  .report-btns-wrapper .report-btn {
    width: 48%;
  }
}
.cs-arrow {
  margin: 0 auto;
  position: relative;
  height: 30px;
  margin-bottom: 11px;
  width: 35px;
}
.cs-arrow:before {
  content: "";
  position: absolute;
}
.cs-arrow:after {
  content: "";
  position: absolute;
}
.cs-arrow.down {
  background-color: transparent !important;
}
.cs-arrow.down:before {
  height: 15px;
  width: 20px;
  left: 22%;
  top: 0px;
}
.cs-arrow.down:after {
  border: 17px solid transparent;
  border-top: 16px solid;
  left: 3%;
  top: 15px;
}
.cs-arrow.up {
  background-color: transparent !important;
}
.cs-arrow.up:before {
  border: 17px solid transparent;
  border-bottom: 16px solid;
  left: 3%;
  top: -18px;
}
.cs-arrow.up:after {
  height: 15px;
  width: 20px;
  left: 22%;
  top: 15px;
}
.cs-arrow.line {
  max-width: 30px;
  height: 4px;
  margin: 18px auto;
}
.cs-arrow.green {
  background-color: #9fd160;
}
.cs-arrow.green.up:after {
  background-color: #9fd160;
}
.cs-arrow.green.up:before {
  border-bottom-color: #9fd160;
}
.cs-arrow.green.down:after {
  border-top-color: #9fd160;
}
.cs-arrow.green.down:before {
  background-color: #9fd160;
}
.cs-arrow.red {
  background-color: #eb605e;
}
.cs-arrow.red.up:after {
  background-color: #eb605e;
}
.cs-arrow.red.up:before {
  border-bottom-color: #eb605e;
}
.cs-arrow.red.down:after {
  border-top-color: #eb605e;
}
.cs-arrow.red.down:before {
  background-color: #eb605e;
}
.cs-arrow.orange {
  background-color: #ff9600;
}
.cs-arrow.orange.up:after {
  background-color: #ff9600;
}
.cs-arrow.orange.up:before {
  border-bottom-color: #ff9600;
}
.cs-arrow.orange.down:after {
  border-top-color: #ff9600;
}
.cs-arrow.orange.down:before {
  background-color: #ff9600;
}
.login-bg {
  background: url(images/login_bg.png) no-repeat fixed;
  background-position: 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.no-padding {
  padding: 0 !important;
}
.login {
  display: table;
  height: 100%;
}
.login .login-panel {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.login .login-panel .header {
  height: 63px;
  background-color: #e31d1a;
  padding: 18px 0 0 24px;
}
.login .login-panel .title {
  width: 100%;
  height: 50px;
  background-color: #52b5c1;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1;
  margin: 0;
  padding: 0;
  padding-left: 26px;
  padding-top: 15px;
  color: #ffffff;
  text-transform: uppercase;
}
.login .login-panel .login-form {
  padding: 30px 40px;
  background-color: #ffffff;
}
.login .login-panel .login-form input[type='text'] {
  width: 100%;
  border: none;
  background-color: #b5b5b5;
  padding: 12px 25px;
  font-family: 'robot-light-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 1;
  font-size: 20px;
  margin-bottom: 18px;
}
.login .login-panel .login-form ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
}
.login .login-panel .login-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}
.login .login-panel .login-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
}
.login .login-panel .login-form :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
.login .login-panel .login-form .forget-pwd {
  padding-top: 35px;
  color: #65646a;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  text-decoration: underline;
}
.login .login-panel .login-form .login-btn-wrap {
  position: relative;
  width: 180px;
}
.login .login-panel .login-form .login-btn-wrap .login-btn {
  font-size: 20px;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 10px 25px;
  color: #ffffff;
  background-color: #52b5c1;
  width: 100%;
  text-transform: uppercase;
  border: none;
  text-align: left;
  letter-spacing: 1;
  height: 50px;
  cursor: pointer;
}
.login .login-panel .login-form .login-btn-wrap .login-left-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -50px;
  top: 0;
  background-color: #397e87;
  cursor: pointer;
}
.login .login-panel .login-form .login-btn-wrap .login-left-btn:after {
  content: "";
  position: absolute;
  top: 17px;
  height: 15px;
  width: 15px;
  right: 20px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.login .login-panel.forgot-panel .title {
  position: relative;
  text-align: center;
  letter-spacing: 1;
}
.login .login-panel.forgot-panel p {
  font-family: 'robot-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.2;
}
.login .login-panel.forgot-panel p.info {
  color: #69bfc9;
  font-size: 16px;
}
.login .login-panel.forgot-panel p.spec {
  color: #a9a9a9;
}
.login .login-panel.forgot-panel p.spec strong {
  color: #65646a;
}
.login .login-panel.forgot-panel p.spec.notes {
  margin: 20px 0;
}
.login .login-panel.forgot-panel .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  font-family: 'robot-light-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  color: #fff;
  font-size: 24px;
  background-color: #e31d1a;
}
.login .login-panel.forgot-panel .no-padding {
  padding: 0 !important;
}
.login .login-panel.forgot-panel .no-left {
  padding-left: 0 !important;
  padding-right: 5px !important;
}
.login .login-panel.forgot-panel .no-left input {
  margin-bottom: 5px !important;
}
.login .login-panel.forgot-panel .no-left:nth-child(even) {
  padding-right: 0 !important;
}
@media (max-width: 768px) {
  .login .login-panel.forgot-panel .no-left {
    padding-right: 0px !important;
  }
}
.login .login-panel.forgot-panel .login-form {
  padding: 20px 15px;
}
.login .login-panel.forgot-panel .login-form .login-btn-wrap {
  margin-top: 10px;
}
@media (max-width: 540px) {
  .login .login-panel .login-form .forget-pwd {
    width: 100%;
    padding-top: 10px;
  }
}
.cchart {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(90deg);
}
.cchart.blue.more-half {
  background-color: #52b5c1 !important;
}
.cchart.blue .progress .fill {
  background: #52b5c1 !important;
}
.cchart.blue .percents .wrapper span {
  color: #65646a;
}
.cchart.black.more-half {
  background-color: #65646a !important;
}
.cchart.black .progress .fill {
  background: #65646a !important;
}
.cchart.black .percents .wrapper span {
  color: #52b5c1;
}
.cchart.more-half .progress {
  clip: rect(0, 50px, 100px, 0);
}
.cchart.more-half .fill {
  clip: rect(0, 100px, 100px, 50px);
}
.cchart .progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: -webkit-calc(50% - 51px);
  top: -webkit-calc(50% - 51px);
  left: -moz--calc(50% - 51px);
  top: -moz--calc(50% - 51px);
  left: -o--calc(50% - 51px);
  top: -o--calc(50% - 51px);
  left: calc(50% - 51px);
  top: calc(50% - 51px);
  width: 100px;
  height: 101px;
  clip: rect(0, 100px, 100px, 50px);
  box-shadow: none;
  background-image: none;
}
.cchart .progress .fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: -webkit-calc(50% - 50px);
  top: -webkit-calc(50% - 50px);
  left: -moz--calc(50% - 50px);
  top: -moz--calc(50% - 50px);
  left: -o--calc(50% - 50px);
  top: -o--calc(50% - 50px);
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  clip: rect(0, 50px, 100px, 0);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.cchart .percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: -webkit-calc(50% - 80px/2);
  top: -webkit-calc(50% - 80px/2);
  left: -moz--calc(50% - 80px/2);
  top: -moz--calc(50% - 80px/2);
  left: -o--calc(50% - 80px/2);
  top: -o--calc(50% - 80px/2);
  left: calc(50% - 80px/2);
  top: calc(50% - 80px/2);
  width: 80px;
  height: 80px;
  text-align: center;
  display: table;
}
.cchart .percents .wrapper {
  display: table-cell;
  vertical-align: middle;
}
.cchart .percents .wrapper span {
  display: block;
  font-size: 20px;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  transform: rotate(-90deg);
}
.leaderboard .scorecard {
  padding: 0;
  display: table;
  min-height: 315px;
}
.leaderboard .scorecard .contents {
  display: table-cell;
  vertical-align: middle;
}
.leaderboard .scorecard .contents .score {
  display: block;
  font-family: 'robot-light', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 59px;
  text-transform: uppercase;
  text-align: center;
  color: #8d8d92;
  line-height: 1;
}
.leaderboard .scorecard .contents .percent {
  display: block;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #65646a;
  line-height: 1;
}
.leaderboard .scorecard .contents .border {
  display: block;
  background-color: #8d8d92;
  height: 2px;
  width: 150px;
  margin: 8px auto;
}
.leaderboard .scorecard .contents .desc {
  padding-top: 30px;
  padding-bottom: 15px;
  display: block;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #65646a;
  line-height: 1;
}
.leaderboard .state-table ul {
  list-style: none;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
.leaderboard .state-table ul li {
  display: block;
  text-align: center;
  height: 75px;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #52b5c1;
  width: 100%;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0;
}
.leaderboard .leader-table-row {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  display: table;
}
.leaderboard .leader-table-row .ld-header {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #52b5c1;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
  text-align: center;
}
.leaderboard .leader-table-row .ld-value {
  background-color: #eaedf1;
  min-height: 55px;
  display: table;
}
.leaderboard .leader-table-row .ld-value div {
  display: table-cell;
  float: left;
  vertical-align: middle;
  color: #77767c;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px;
}
.leaderboard .store-values {
  overflow: auto;
}
.leaderboard .store-values ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  min-width: 1000px;
}
.leaderboard .store-values ul li {
  display: block;
  height: 75px;
  width: 100%;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px inset #ffffff;
}
.leaderboard .store-values ul li div {
  display: inline-block;
  color: #77767c;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  width: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 15px;
}
.leaderboard .region-table .zone-header {
  background-color: #c2c3c8;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  line-height: 1;
}
.leaderboard .region-table .zone-header {
  background-color: #c2c3c8;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  line-height: 1;
  border-right: 1px inset #ffffff;
}
.leaderboard .region-table .region-header {
  background-color: #9a9aa0;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  line-height: 1;
  border-right: 1px inset #ffffff;
}
.leaderboard .region-table .store-header {
  background-color: #65646a;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  line-height: 1;
}
.leaderboard .region-table .content .sub-headers .sub-header {
  border-bottom: 1px inset #52b5c1;
  border-right: 1px inset #ebeef2;
}
.leaderboard .region-table .content .sub-headers .sub-header h2 {
  margin: 0;
  padding: 0;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #52b5c1;
  padding: 15px 6px;
  text-align: center;
  text-transform: uppercase;
}
.leaderboard .region-table .content .grid-values {
  border-bottom: 1px solid #52b5c1;
}
.leaderboard .region-table .content .grid-values .grid-row .column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px inset #ebeef2;
}
.leaderboard .region-table .content .grid-values .grid-row .column p {
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #65646a;
  margin: 0;
  line-height: 1;
  padding: 10px;
  text-align: left;
}
.leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.down:after {
  border: 11px solid transparent;
  border-top-color: #eb605e;
  top: 18px;
  left: 15%;
}
.leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.down:before {
  width: 10px;
  left: 32%;
  top: 7px;
}
.leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.up:after {
  height: 15px;
  width: 10px;
  left: 30%;
  top: 15px;
}
.leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.up:before {
  border: 10px solid transparent;
  border-bottom: 14px solid;
  border-bottom-color: #9fd160;
  left: 16%;
  top: -5px;
}
@media (max-width: 861px) {
  .leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.down:after {
    top: 18px;
    left: 34%;
  }
  .leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.down:before {
    left: 50%;
    top: 7px;
  }
  .leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.up:after {
    left: 65%;
    top: 15px;
  }
  .leaderboard .region-table .content .grid-values .grid-row .column span.cs-arrow.up:before {
    left: 50%;
    top: -5px;
  }
}
.leaderboard .region-table .content .export-btns .export-excel {
  display: block;
  text-decoration: none;
  padding: 10px;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1;
  line-height: 1;
  color: #e31d1a;
  text-transform: uppercase;
  text-align: right;
}
.query .sub-header {
  background-color: #cbe9ec;
  text-align: left;
}
.query .sub-header div {
  border-right: 1px solid #ffffff;
  color: #65646a;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'robot-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: right;
}
.query .sub-header div:first-child,
.query .sub-header div:last-child {
  border: none;
}
.query .sub-header div span {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #52b5c1;
  text-align: right;
}
.query .query-header {
  padding-bottom: 10px !important;
  padding: 15px ;
  padding-top: 70px;
}
.query .query-header .wrapper {
  border-bottom: 1px solid #a7a8ad;
}
.query .query-header div {
  text-align: left;
  color: #65646a;
  font-family: 'robot-bold-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 2px;
}
.query .query-header div:first-child {
  text-align: center;
}
.query .query-row {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding: 15px !important;
}
.query .query-row div {
  text-align: left;
  color: #65646a;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding: 2px;
}
.query .query-row div.doc {
  background-image: url(images/icons/doc.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 50%;
  background-size: 23%;
  padding-left: 15px;
}
.query .query-row:nth-child(odd) {
  background-color: #eaedf1;
}
.query-details .sub-header {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #75c4cd;
  padding: 12px 0;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #a7a8ad;
  text-align: left;
}
.query-details .query-info {
  padding-top: 20px;
  padding-bottom: 20px;
}
.query-details .form {
  padding: 0;
}
.query-details .form h3 {
  padding: 12px 0;
  margin: 0;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #65646a;
  text-align: left;
  line-height: 1;
}
.query-details .form p {
  padding: 8px 0;
  margin: 0;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #65646a;
  line-height: 1.5;
  text-align: left;
}
.query-details .venue {
  padding-top: 20px;
  padding-bottom: 26px;
}
.query-details .venue div {
  margin-right: 5px;
}
.query-details .venue .error-info {
  font-family: 'robot-italic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #e31d1a;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  line-height: 1;
  text-align: left;
}
.query-details .venue input {
  min-height: 30px;
  margin-right: 5px;
  border: none;
}
.query-details .venue textarea {
  min-height: 150px;
  margin: 15px 0;
  width: 100%;
  border: none;
}
.query-details .venue p {
  margin: 0;
  line-height: 1;
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #65646a;
  padding-top: 10px !important;
}
.query-details .venue .calender,
.query-details .venue .timer {
  cursor: pointer;
  min-height: 30px;
  background-position: 50% 50%;
  background-color: #ffffff !important;
  width: 40px;
  float: left;
}
.query-details .venue .calender {
  background-image: url(images/icons/calender.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.query-details .venue .timer {
  background-image: url(images/icons/timer.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.query-details .query-question {
  margin-bottom: 15px;
}
.query-details .query-question h2 {
  background-color: #cbe9ec;
  color: #52b5c1;
  text-align: center;
  padding: 15px 50px;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}
.query-details .query-question .sub-header {
  font-family: 'robot-bold', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #75c4cd;
  padding: 5px;
  margin: 0;
  text-transform: uppercase;
  border-bottom: none;
  text-align: left;
}
.query-details .query-question textarea {
  margin-right: 5px;
  min-height: 80px;
  /*border-color: #65646a;*/
  width: 95%;
}
.query-details .query-question select.align-left {
  margin-top: 15px;
  margin-right: 5px;
  width: 95%;
}
.query-details .query-question.que-header {
  background-color: #eaedf1;
}
.query-details .query-question.que-header p {
  text-align: left;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #65646a;
  padding: 12px 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.query-details .action-btns div {
  padding: 0;
  padding-right: 10px;
}
.query-details .action-btns a {
  background-color: #52b5c1;
  text-align: center;
  font-family: 'robot-reg', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  padding-top: 5px;
  text-transform: uppercase;
  margin-right: 5px;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}




.charts {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.charts canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.charts .percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  color: #65646a;
  font-family: "robot-bold",Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
