.cchart {
	.relative;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	

	&.blue {
		&.more-half {
			background-color: #52b5c1 !important;
		}

		.progress {
			.fill {
				background: #52b5c1 !important;
			}
		}

		.percents {
			.wrapper {
				span {
					color: #65646a;
				}
			}
		}
	}


	&.black {
		&.more-half {
			background-color: #65646a !important;
		}

		.progress {
			.fill {
				background: #65646a !important;
			}
		}

		.percents {
			.wrapper {
				span {
					color: #52b5c1;
				}
			}
		}
	}

	&.more-half {
		.progress{
			clip: rect(0, 50px, 100px, 0);
		}
		.fill {
			clip: rect(0, 100px, 100px, 50px);  			
		}
	}

	.progress {
		content: "";
		.absolute;
		border-radius: 50%;
		left: ~'-webkit-calc(50% - 50px)';
		top: ~'-webkit-calc(50% - 50px)';
		width: 100px;
		height: 100px;
		clip: rect(0, 100px, 100px, 50px);
		box-shadow: none;
		background-image: none;
		
		.fill {
			content: "";
			.absolute;
			border-radius: 50%;
			left:~'-webkit-calc(50% - 50px)';
			top: ~'-webkit-calc(50% - 50px)';
			width: 100px;
			height: 100px;
			clip: rect(0, 50px, 100px, 0);			
			.transform(rotate(60deg));
		}
	}

	.percents {
		content: "";
		position: absolute;
		border-radius: 50%;
		left: ~'-webkit-calc(50% - 80px/2)';
		top: ~'-webkit-calc(50% - 80px/2)';
		width: 80px;
		height: 80px;		
		.center;
		.table;

		.wrapper {
			.td;
			vertical-align: middle;

			span {
				.block;
				font-size:20px;
				.font-robot-bold;				
			}
		}
	}
}