.leaderboard {

	.scorecard {
		padding:0;
		.table;
		min-height: 375px;

		.contents {
			.td;
			vertical-align: middle;

			.score {
				.block;
				.font-robot-light;
				font-size: 59px;
				.uppercase;
				.center;
				color:#8d8d92;
				line-height: 1;
			}
			.percent {
				.block;
				.font-robot-bold;
				font-size: 75px;
				.uppercase;
				.center;
				color:#65646a;
				line-height: 1;
			}

			.border {
				.block;
				background-color: #8d8d92;
				height: 2px;
				width: 150px;
				margin:8px auto;

			}

			.desc {
				padding-top: 30px;
				padding-bottom: 15px;
				.block;
				.font-robot-reg;
				font-size: 12px;
				.center;			
				color:#65646a;
				line-height: 1;
			}
		}
		
	}

	.state-table {
		ul {
			list-style: none;			
			background-color: @white;
			padding: 0;
			margin: 0;
			li {
				.block;
				.center;
				height: 75px;
				.font-robot-bold;
				font-size: 18px;
				color:#52b5c1;
				width: 100%;
				line-height: 1;
				.box-sizing(border-box);
				padding:30px 0;
			}
		}
	}

	.store-values {
		overflow: auto;

		ul {
			list-style: none;						
			padding: 0;
			margin: 0;
			.block;
			min-width: 1000px;
			

			li {
				.block;				
				height: 75px;
				width: 100%;
				line-height: 1;
				.box-sizing(border-box);				
				border-bottom: 1px inset @white;

				div {
					.inline-block;
					color:#77767c;
					.font-robot-reg;
					font-size: 18px;
					width: 150px;						
					.box-sizing(border-box);
					padding: 25px 15px;		
				}
			}
		}
	}

	.region-table {
		.zone-header {
			background-color: #c2c3c8;
			.font-robot-reg;
			font-size: 21px;
			color:@white;
			.uppercase;
			text-align: center;
			padding: 10px;
			line-height: 1;
		}

		.zone-header {
			background-color: #c2c3c8;
			.font-robot-reg;
			font-size: 21px;
			color:@white;
			.uppercase;
			text-align: center;
			padding: 10px;
			line-height: 1;
			border-right:1px inset @white;
		}

		.region-header {
			background-color: #9a9aa0;
			.font-robot-reg;
			font-size: 21px;
			color:@white;
			.uppercase;
			text-align: center;
			padding: 10px;
			line-height: 1;
			border-right:1px inset @white;
		}
		.store-header {
			background-color: #65646a;
			.font-robot-reg;
			font-size: 21px;
			color:@white;
			.uppercase;
			text-align: center;
			padding: 10px;
			line-height: 1
		}

		.content {
			.sub-headers {
				.sub-header {
					border-bottom: 1px inset #52b5c1;
					border-right: 1px inset #ebeef2;
					h2 {
						margin:0;
						padding: 0;
						.font-robot-reg;
						font-size: 13px;
						color:#52b5c1;
						padding: 15px 6px;
						.center;
						.uppercase;
					}
				}
			}

		.grid-values {
			border-bottom: 1px solid #52b5c1;
				.grid-row {
					.column {
						padding: 15px 6px !important;
						.box-sizing(border-box);
						border-right: 1px inset #ebeef2;

						p {
							.font-robot-reg;
							font-size: 14px;
							color:#65646a;
							margin: 0;
							line-height: 1;
							padding: 0;
							text-align: left;

							&.cs-arrow.down:after {
								border: 11px solid transparent;
								border-top-color:#eb605e;
								top:12px;
								left:3%;
							}
							&.cs-arrow.down:before {
								width: 10px;
								left:20%;
							}
							&.cs-arrow.up:after {
								height: 15px;
								width: 10px;
								left: 24%;
								top: 4px;
							}
							&.cs-arrow.up:before {
								border: 10px solid transparent;
								border-bottom: 14px solid;
								border-bottom-color: #9fd160;
								left: 9%;
								top: -16px;
							}
						}
					}
				}
			}

			.export-btns {
				
				.export-excel {
					.block;
					text-decoration: none;
					padding: 10px;
					.font-robot-reg;
					font-size: 12px;
					letter-spacing: 1;
					line-height: 1;
					color:#e31d1a;
					.uppercase;
					text-align: right;
				}
			}
			
		}
	}
}