.login-bg {
	background: url(../images/login_bg.png) no-repeat fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: cover;
}

.login {
	.table;
	height: 100%;
	

	.login-panel {
		.td;
		vertical-align: middle;
		width: 100%;

		.header {
			height: 63px;
			background-color: #e31d1a;
			padding:18px 0 0 24px;
		}
		.title {
			width: 100%;
			height: 50px;
			background-color: #52b5c1;
			.font-robot-reg;
			font-size: 20px;
			line-height: 1;
			letter-spacing: 1;
			margin: 0;
			padding: 0;
			padding-left: 26px;
			padding-top: 15px;
			color:@white;
			text-transform: uppercase;
		}

		.login-form {
			padding: 30px 40px;
			background-color: @white;
			input[type='text'] {
				width: 100%;
				border: none;
				background-color: #b5b5b5;
				padding: 12px 25px;
				.font-robot-light-italic;
				color:@white;
				letter-spacing: 1;
				font-size: 20px;
				margin-bottom: 18px;
			}
			.placeholder(@white);

			.forget-pwd {
				padding-top: 35px;
				color:#65646a;
				.font-robot-reg;
				font-size: 10px;
				.block;
				text-transform: uppercase;
				text-decoration: underline;
			}

			.login-btn-wrap {
				.relative;
				width: 180px;

				.login-btn {
					font-size: 20px;
					.font-robot-reg;
					padding: 10px 25px;
					color:@white;
					background-color: #52b5c1;
					width: 100%;
					text-transform: uppercase;
					border:none;				
					text-align: left;
					letter-spacing: 1;
					height: 50px;
					cursor: pointer;
				}

				.login-left-btn {					
					.absolute;
					width: 50px;
					height: 50px;
					right: -50px;
					top:0;
					background-color: #397e87;
					cursor: pointer;
					&:after {
						content: "";
						.absolute;
						top: 17px;
						height: 15px;
						width: 15px;
						right: 20px;
						border-top: 3px solid @white;
						border-right: 3px solid @white;
						.transform(rotate(45deg));
					}
				}
			}
		}
	}
}
