.query {

	.content {
		padding: 15px !important;
	}

	.sub-header {
		background-color: #cbe9ec;

		div {
			border-right:1px solid @white;
			&:first-child, &:last-child {
				border:none;
			}
			color:#65646a;
			padding-left: 10px;
			font-size: 18px;
			.font-robot-italic;
			text-align: right;
			span {
				.font-robot-bold;
				font-size: 16px;
				color:#52b5c1;
				text-align: right;
			}
		}
	}

	.query-header {
		border-bottom: 1px solid #a7a8ad;
		padding-bottom: 10px !important;
		div {
			text-align: left;
			color:#65646a;
			.font-robot-bold-italic;
			font-size: 12px;
			padding: 2px;

		}
	}

	.query-row {
		padding-top: 10px !important;
		padding-bottom: 10px !important;

		div {
			text-align: left;
			color:#65646a;
			.font-robot-reg;
			font-size: 12px;
			padding: 2px;

			&.doc {
				.bg('icons/doc.png');
				.bgp(0, 50%);
				background-size: 20%;
				padding-left: 15px;
			}

		}

		&:nth-child(odd){
			background-color: #eaedf1;
		}
	}
}