/* LESS Document */
@import "libs/lesshat.less";


// Colors
@white: #fff;
@black: #000;
@blue-color: #3e80c2;
@red-color: #f44634;
@footer-color:#75787f;
@border-color:#75787f;
@ease-io-expo: cubic-bezier(1, 0, 0, 1);
@gray: #eef0f0;

@tab:768px;
@tab-low:550px;
@mobile:420px;

// Useful shorhands
.left() { float: left; }
.right() { float: right; }
.nofloat() { float: none; }
.absolute() { position: absolute; }
.relative() { position: relative; }
.fixed() { position: fixed; }
.static() { position: static; }
.block() { display: block; }
.inline() { display: inline; }
.inline-block() { display: inline-block; }
.table() { display: table; }
.tr() { display: table-row; }
.td() { display: table-cell; }
.hide() { display: none; }
.center() { text-align: center; }
.ti-9999() { text-indent: -9999px; }
.uppercase() { text-transform: uppercase; }
.pointer() { cursor: pointer; }
.no-flick() { -webkit-transform: @t3d0; }
.clear { display: block; clear: both; }

// Backgrounds mixins
.bg(@image, @c:transparent, @bgr:no-repeat) when (isstring(@image)) {
	@url: ~"../images/@{image}";

	background-image: url(@url);
	background-repeat: @bgr;
	background-color: @c;
}

.bg2x(@image, @w:100%, @h:auto, @c:transparent, @bgr:no-repeat) when (isstring(@image)) {
	@url: ~"../images/@{image}";
	@url-retina: ~"../images/2x/@{image}";

	background-image: url(@url);
	background-repeat: @bgr;
	background-color: @c;
	background-size: @w @h;

	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) {
		background-image: url(@url-retina);
		background-size: @w @h;
	}
}

.bgp(@x:0, @y:0) {
	background-position: @x @y;
}

// sprites
.sprite-main() {
	.bg2x('sprite-main.png', 380px, 156px);
}

// placeholder color
.placeholder(@color) {
	::-webkit-input-placeholder { /* WebKit browsers */
		color: @color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: @color;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: @color;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: @color;
	}
}

::selection {
	color: @white;
	background: #3e80c2;
}
::-moz-selection {
	color: @white;
	background: #3e80c2;
}

#content {
	height: 100%;
}
img {
	max-width: 100%;
}

/* Fonts */
@font-face {
	font-family: 'robot-reg';
	src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype'); 
}

@font-face {
	font-family: 'robot-light-italic';
	src: url('fonts/RobotoCondensed-LightItalic.ttf') format('truetype'); 
}

@font-face {
	font-family: 'robot-light';
	src: url('fonts/RobotoCondensed-Light.ttf') format('truetype'); 
}

@font-face {
	font-family: 'robot-italic';
	src: url('fonts/RobotoCondensed-Italic.ttf') format('truetype'); 
}

@font-face {
	font-family: 'robot-bold-italic';
	src: url('fonts/RobotoCondensed-BoldItalic.ttf') format('truetype'); 
}

@font-face {
	font-family: 'robot-bold';
	src: url('fonts/RobotoCondensed-Bold.ttf') format('truetype'); 
}




.font-robot-reg() { font-family: 'robot-reg', Arial, Helvetica, sans-serif; font-weight: normal; }
.font-robot-light-italic() { font-family: 'robot-light-italic', Arial, Helvetica, sans-serif; font-weight: normal; }
.font-robot-light() { font-family: 'robot-light', Arial, Helvetica, sans-serif; font-weight: normal; }
.font-robot-italic() { font-family: 'robot-italic', Arial, Helvetica, sans-serif; font-weight: normal;}
.font-robot-bold-italic() { font-family: 'robot-bold-italic', Arial, Helvetica, sans-serif; font-weight: normal;}
.font-robot-bold() { font-family: 'robot-bold', Arial, Helvetica, sans-serif; font-weight: normal;}

.body-bg {
	background: url(../images/bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: cover;
}

.coles {

	.no-padding {
		padding: 0 !important;
	}

	.coles-body {
		background-color: #65646a;
	}

	.header {
		height: 46px;
		background-color:#e31d1a;

		.logo {
			padding-top: 9px;
			height: 100%;
		}
		.user-text {
			.font-robot-reg;
			text-align: right;
			font-size: 14px;
			height: 100%;
			color: @white;
			letter-spacing: 1;
			text-transform: uppercase;
			padding-top: 15px;
			line-height: 1;
			background-color:#e31d1a;
		}
		.user-info{
			background-color: #881110;
			height: 100%;
			padding: 0;

			.user-icon {
				height: 46px;
				.bg('icons/user-icon.png');
				.bgp(50%, 50%);
				background-color:#aa1613;
			}

			.logout {				
				height: 48px;
				margin: 0 auto;
				font-size: 12px;
				color:@white;
				.font-robot-reg;
				letter-spacing: 1;
				line-height: 1;
				text-transform: uppercase;
				padding:16px 0 0 30px;
				.bg('icons/logout-icon.png');
				.bgp(20%, 45%);
				text-decoration: none;				
			}
		}
	}

	.menu {
		background-color: #65646a;		
		padding: 0;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {

				a {
					
					height: 65px;
					padding:0;
					margin: 0;
					padding:25px 0 0 47px;
					text-transform:uppercase;
					.font-robot-light;
					font-size: 17px;
					line-height: 1;
					letter-spacing: 1px;
					color:@white;
					border-bottom:1px inset #7f7e82;
					text-decoration: none;
					word-wrap:break-word;

					.transition-duration(500ms);
					.bgp(14px, 25px);

					&.dashboard {
						.bg('icons/dashboard.png');						
					}
					&.reports {
						.bg('icons/reports.png');						
					}
					&.queries {
						.bg('icons/queries.png');						
					}
					&.resources {
						.bg('icons/resources.png');						
					}
					&.leaderboard {
						.bg('icons/leaderboard.png');						
					}

					&.access-admin{
						.bg('icons/access-admin.png');
						
					}

					&:hover {
						background-color:#bdbec0;						
						border-bottom:none;
					}

					&.active {
						background-color:#bdbec0;
						.font-robot-bold;
						border-bottom:none;
					}
				}
			}
		}

		.news-feed {
			margin-top: 132px;
			padding: 0;

			h2 {
				height: 33px;
				margin: 0;
				padding: 0;
				.block;
				background-color: #e31d1a;
				color:@white;
				.font-robot-reg;
				font-size: 15px;
				text-transform: uppercase;
				.center;
				letter-spacing: 1;
				line-height: 1;
				.relative;
				padding-top: 8px;

				&:before {
					content:"";
					.absolute;
					top:0;
					right: 0;
					height: 33px;
					width: 33px;
					background-color: #b61715;
				}
				&:after {
					content:"";
					.absolute;
					top:5px;
					right:8px;
					height: 15px;
					width: 15px;
					background-color: transparent;
					border-right: 3px solid #e31d1a;
					border-bottom: 3px solid #e31d1a;
					.transform(rotate(45deg));
				}
			}

			.feed {
				padding: 10px;
				background-color: #bdbec0;
				.font-robot-reg;
				font-size: 16px;
				h3 {
					margin: 0;
					padding: 0;
					color:#e31d1a;
					font-size: 18px;
				}

				p {
					margin: 0;
					padding: 2px 0;
					color:@black;
					margin-bottom: 8px;
				}

				.date {
					color:#65646a;
					.right;
					padding-right:10px;
					margin: 0;
					margin-bottom: 11px;
				}

				&:last-child {
					border-bottom: 2px solid #e31d1a;
				}
			}
		}
	}


	.dashboard {
		background-color: @white;
		padding: 0;

		.banner {
			.bg('banner.png');
			height: 131px;
			.bgp(50%, 50%);
			background-size: cover;
			padding: 2px 0 0 20px;
			h1 {
				margin: 0;
				padding: 0;				
				.font-robot-bold;
				font-size: 58px;
				color:@white;
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 1;
			}
		}

		.main-menu {
			height: 46px;
			background-color: @black;
			padding: 0;

			ul {
				list-style: none;
				padding: 0;
				li {

					a {
						.center;
						font-size: 20px;
						.font-robot-reg;
						color:#808080;
						height: 46px;
						text-decoration: none;
						margin: 0;
						line-height: 1;
						padding-top: 11px;

						&:hover {
							color:@white;
						}

						&.active {
							color:@white;
							border-bottom: 6px inset #e31d1a;
						}
					}
				}
			}
		}

		.filters {
			min-height: 62px;
			background-color: @white;
			padding: 20px 20px;

			.filter-btn {
				width: 75px;
				height: 22px;
				.box-sizing(border-box);
				text-align: center;
				padding: 0;
				padding-top: 2px;
				.font-robot-reg;
				font-size: 13px;
				color:@white;
				text-transform: uppercase;
				background-color: #65646a;
				margin: 0;

			}
			.red-color {
				color:#e31d1a;
			}
			.a-btn {
				.font-robot-reg;
				font-size:12px;
				color:#e31d1a;
				.inline-block;
			}
		}

		.chart {
			padding: 0;

			&.inner {
				margin-top: 38px;
				.header {
					height: 40px;
					padding-top: 10px;
					h2 {
						
					}
				}

				.content {					
					padding: 25px;
					min-height: 200px;
				}
			}


			.protractor-chart {
				h2 {
					.font-robot-bold;
					font-size: 18px;
					color:#a3d3db;
					text-transform: uppercase;
					margin: 20px auto;
					padding: 0;
				}
				.reading-circle{
					height:100px;
					width:200px;
					border-radius: 200px 200px 0 0;
					-moz-border-radius: 200px 200px 0 0;
					-webkit-border-radius: 200px 200px 0 0;
					background:#dadada;
					.relative;

					&:before {
						content: "";
						.absolute;
						top:20px;
						left:20px;
						height:80px;
						width:160px;
						border-radius: 160px 160px 0 0;
						-moz-border-radius: 160px 160px 0 0;
						-webkit-border-radius: 160px 160px 0 0;
						background:#eaedf1;
					}
				}

				.result {
					width: 200px;
					height: 40px;
					background-color: @white;
					margin-top: 13px;
					p {
						.center;
						margin: 0;
						padding: 0;
						.font-robot-bold;
						font-size: 33px;
						color:#ff9600;
						padding-top: 5px;
						line-height: 1;
					}
				}
			}


			.header {
				height: 56px;
				background-color: #52b5c1;
				.center;
				padding: 0;
				padding: 18px 0;
				.box-sizing(border-box);
				.relative;

				h2 {
					.font-robot-reg;
					font-size: 20px;
					margin: 0;
					padding:0;
					color:@white;					
					line-height: 1;
					letter-spacing: 1;					
					text-transform: uppercase;					
				}

				.export-btn {
					.absolute;
					.font-robot-reg;
					font-size: 12px;
					.uppercase;
					color:@white;
					background-color: #e31d1a;
					padding: 8px;
					right:0;
					top:0;
				}

				p {
					.font-robot-light-italic;
					color:@white;					
				}

				&.sub-title {
					padding: 10px 0;
				}
			}

			.content {
				.box-sizing(border-box);
				padding: 30px;
				min-height: 275px;
			}


			.ytd-chart {
				min-height: 280px;				
				padding: 0;
			}


			.score-board {
				width: 114px;
				height: 190px;
				.left;
				margin-right: 10px;
				
				&:last-child {
					margin-right: 0;
				}

				h3 {
					margin: 0;
					padding: 0;
					height: 40px;
					.center;
					.font-robot-reg;
					font-size: 13px;
					text-transform: uppercase;
					color:@white;
					background-color: #52b5c1;
					padding-top: 15px;
				}

				.board {
					background-color: @white;
					padding: 12px 8px;

					.score {
						text-align: center;
						.font-robot-reg;
						color:#65646a;
						font-size: 38px;
						line-height: 1;
						padding-bottom: 10px;
						border-bottom: 1px solid #bae1e6;
						span {
							font-size: 20px;
						}
					}

					p {
						.center;
						margin: 0;
						padding: 12px 15px;
						.font-robot-italic;
						color:#cbcbcb;
						line-height: 1.2;
						padding-bottom: 0;
					}

					
				}


			}
			.grey {
				background-color: #eaedf1;

				.cchart {
					background-color: #eaedf1;

					&.more-half {
						.fill {							
				  			background: #eaedf1;
						}
					}

					.progress {
						background-color: #eaedf1;
					}

					.percents {
						background-color:#eaedf1;
					}
				}
			}

			.white {
				background-color: @white;
			}


			.content {
				padding: 25px;

				.circle-chart {
					min-height: 275px;
					padding: 0;
					.relative;
					border-right: 1px solid #fff;


					h3 {
						.absolute;
						top:0;
						left:0;
						background-color: #a8dae0;
						margin: 0;
						padding: 0;
						.center;
						.font-robot-bold;
						color:#65646a;
						padding-top: 4px;
						font-size: 14px;
						text-transform: uppercase;
						letter-spacing: 1;
						line-height: 1;
						height: 26px;
						width: 101%;
					}

					.cchart {
						margin: 80px auto;
					}

					&:last-child {
						border-right:none;
					}
					&:last-child(2) {
						h3 {
							width: 100%;
						}
					}
				}				
			}
		}

	.panel-design {

			padding-bottom: 75px !important;

			.expand-btn {
				padding: 5px;
				padding-left: 15px;
				text-transform: uppercase;
				background-color: #9a9aa0;
				color: @white;
				.font-robot-reg;
				font-size: 16px;
				.relative;
				max-width: 140px;
				height: 30px;
				.box-sizing(border-box);
				cursor: pointer;
				&:after {
					content:"";
					top:8px;
					right:15px;
					width: 10px;
					height: 10px;
					.absolute;
					border-right: 2px solid @white;
					border-bottom:  2px solid @white;
					.transform(rotate(45deg));
				}
			}


		.acc-table-head {
			.box-sizing(border-box);
			background-color: @white;

			h4 {
				.center;
				margin: 0;
				padding: 10px 0;
				.box-sizing(border-box);
				.font-robot-bold;
				font-size: 13px;
				color:#64636a;
				.uppercase;
			}
		}

		#accordion {
			.panel-heading {
				background-color: #a8dae0;
				max-height: 45px;
				background-image:none;
				h4 {
					.font-robot-reg;
					font-size: 13px;
					.uppercase;
					color:#64636a;
					.center;
					margin: 0;
					padding: 10px 0;
					&.arrow {
						.relative;
						font-size: 15px;
						padding-left: 15px;
						.font-robot-bold;
						&:before {
							content:"";
							.absolute;
							left:10px;
							top:11px;							
							border-top: 7px solid transparent;
							border-bottom: 7px solid transparent;
							border-left: 7px solid #64636a;
							border-right: 7px solid transparent;
						}
					}	

					&.pval {
						padding-top: 10px;
						span.true {
							.inline-block;
							height: 12px;
							width: 12px;
							background-color: #76bd1d;
							margin-right: 2px;
							.relative;

							&:after {
								content :"\2713\0020";
								.absolute;
								top:0px;
								left:3px;
								color:@white;
								font-size: 10px;
							}
						}

						span.false {
							.inline-block;
							height: 12px;
							width: 12px;
							background-color: #e31d1a;
							margin-right: 2px;
							.relative;

							&:after {
								content :"x";
								.absolute;
								top:0px;
								left:3px;
								color:@white;
								font-size: 10px;
							}
						}
					}
				}

				.opened {
					.arrow {
						&:before {
							top:15px;
							border-top: 7px solid #64636a;
							border-bottom: 7px solid transparent;
							border-left: 7px solid transparent;
							border-right: 7px solid transparent;
						}
					}
				}
			}			
		}

		.panel-default {
			background-color: transparent;
		}
	}

		@media (max-width:@tab){
			.banner {
				padding-top:22px;
				h1 {
					font-size: 45px;
				}
			}
		}
	}


}

.coles-acc {
	.acc-header {
		background-image :none;
		background-color: #a8dae0;
	}
}



.resource {
	min-height: 200px !important;

	div,a {
		min-height: 150px;
	}

	.archive {
		.bg('resources/archive.png');
		.bgp(50%, 50%);
		background-size: contain;
	}
	.general {
		.bg('resources/general.png');
		.bgp(50%, 50%);
		background-size: contain;
	}
	.reporting {
		.bg('resources/reporting.png');
		.bgp(50%, 50%);
		background-size: contain;
	}
	.scenarios {
		.bg('resources/scenarios.png');
		.bgp(50%, 50%);
		background-size: contain;
	}

	.score-summary {
		.bg('resources/score_summary.png');
		.bgp(50%, 50%);
		background-size: contain;
	}
}

.cs-arrow {						
	margin: 0 auto;
	.relative;
	height: 30px;
	margin-bottom: 11px;
	width: 35px;

	&:before {
		content: "";
		.absolute;													
	}

	&:after {
		content: "";
		.absolute;							
	}


	&.down {
		background-color: transparent !important;
		&:before {
			height: 15px;
			width: 20px;
			left: 21%;								
			top: 0px;
		}
		&:after {
			border: 17px solid transparent;
			border-top: 16px solid;
			left:3%;
			top: 15px;	
		}
	}

	&.up {
		background-color: transparent !important;
		&:before {
			border: 17px solid transparent;
			border-bottom: 16px solid;
			left: 3%;
			top: -18px;	
		}
		&:after {
			height: 15px;
			width: 20px;
			left: 21%;
			top: 15px;
		}
	}

	&.line {
		max-width: 30px;
		height: 4px;
		margin: 18px auto;
	}

	&.green {
		background-color: #9fd160;
		&.up{
			&:after{
				background-color: #9fd160;
			}
			&:before {
				border-bottom-color:#9fd160;
			}
		}

		&.down {
			&:after{
				border-top-color: #9fd160;
			}
			&:before {
				background-color:#9fd160;
			}
		}						
	}

	&.red {
		background-color: #eb605e;
		&.up{
			&:after{
				background-color: #eb605e;
			}
			&:before {
				border-bottom-color:#eb605e;
			}
		}

		&.down {
			&:after{
				border-top-color: #eb605e;
			}
			&:before {
				background-color:#eb605e;
			}
		}						
	}

	&.orange {
		background-color: #ff9600;
		&.up{
			&:after{
				background-color: #ff9600;
			}
			&:before {
				border-bottom-color:#ff9600;
			}
		}

		&.down {
			&:after{
				border-top-color: #ff9600;
			}
			&:before {
				background-color:#ff9600;
			}
		}						
	}
}


@import "_login.less";
@import "_chart.less";
@import "_leaderboard.less";
@import "_queries.less";